.footer {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    display: block;
  }
}
