.intro__image {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 284px;
  padding: 65px 30px 20px;
}

.intro__heading {
  font-size: 27px;
  text-align: center;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
}

.intro__links {
  position: relative;
  display: block;
  height: 103px;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 25px 30px 30px;
  background-repeat: no-repeat;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:hover {
    height: 108px;

    .intro__icon {
      fill: rgba(20, 144, 128, 0.7);
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .intro__icon {
      fill: rgba(20, 144, 128, 0.3);
    }
  }
}

.intro__icon {
  position: absolute;
  top: 25px;
  right: 35px;
  fill: rgba(20, 144, 128, 0.5);

  &--toys {
    right: 28px;
  }
}
