@mixin menu-divider() {
  position: absolute;
  content: "";
  width: 200vw;
  height: 1px;
  background-color: #ececec;
  left: -340px;
}

@mixin bg-stretch() {
  position: absolute;
  content: "";
  width: 300vw;
  height: 100%;
  top: 0;
  background-color: #f1f1f1;
  z-index: -1;
}
