.modal {
  &--closed {
    display: none;
  }
}

.modal__wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__content {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px 30px 45px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
}

.modal__heading {
  text-align: center;
  text-transform: uppercase;
}

.modal__text {
  margin: 21px 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
}

.modal__form {
  width: 100%;
}

.modal__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__item {
  width: 100%;

  label {
    display: flex;
    padding: 15px 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(68, 68, 68, 0.1);
    font-size: 17px;
    line-height: 16px;
    font-weight: 600;
    color: #444444;
  }

  &:nth-child(2) {
    margin: 0 7px;
  }
}

.modal__radio:checked + label {
  border-color: #63d1bb;
}

.modal__button {
  width: 100%;
  border: none;
  background-color: #63d1bb;
  color: #ffffff;

  &:hover {
    background-color: rgba(99, 209, 187, 0.6);
  }

  &:active {
    background-color: rgba(99, 209, 187, 0.3);
  }
}

@media screen and (min-width: 768px) {
  .modal__content {
    width: 568px;
    padding: 40px 106px 46px;
  }

  .modal__heading {
    font-size: 30px;
    line-height: 57px;
  }

  .modal__text {
    margin: 17px 0;
    font-size: 17px;
    line-height: 30px;
  }
}
