.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navigation__item {
  position: relative;
  min-height: 80px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--logo {
    align-self: center;
  }

  &--logo::before {
    @include menu-divider();
    top: 0;
  }

  &::after {
    @include menu-divider();
    bottom: 0;
  }

  &--delivery {
    display: none;
  }
}

.navigation__logo {
  display: block;
  width: 86px;
  height: 35px;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);

  &[href]:hover {
    color: rgba(0, 0, 0, 0.6);

    .navigation__icon {
      fill: rgba(99, 209, 187, 1);
    }
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);

    .navigation__icon {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}

.navigation__icon {
  position: absolute;
  fill: rgba(0, 0, 0, 0.2);
  left: -45px;
  top: 30px;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    flex-direction: row;
    align-items: flex-start;
  }

  .navigation__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navigation__item {
    justify-content: flex-start;

    &--logo {
      min-width: 351px;
      padding-left: 50px;
      flex-grow: 1;
      order: -1;
    }

    &--search {
      width: 85px;
      font-size: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
      order: -1;
    }

    &--cart {
      width: 315px;
      padding-left: 84px;
      order: -1;
    }

    &--catalog {
      background-color: #fafafa;
      padding: 0 20px 0 50px;
      font-size: 15px;

      &::after {
        content: none;
      }
    }

    &--order {
      background-color: #fafafa;
      padding: 0 20px 0 20px;
      font-size: 15px;

      &::after {
        content: none;
      }
    }

    &--delivery {
      display: flex;
      background-color: #fafafa;
      padding-right: 50px;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      flex-grow: 1;
      justify-content: flex-end;

      &::after {
        content: none;
      }
    }
  }

  .navigation__logo {
    width: 113px;
    height: 46px;
    background-image: url("../img/logo-tablet.svg");
  }

  .navigation__icon {
    &--search {
      left: 34px;
    }

    &--cart {
      left: 30px;
    }
  }
}

@media screen and (min-width: 970px) {
  .navigation__item {
    &--logo {
      min-width: 550px;
    }
  }
}
