.order {
  margin-bottom: 55px;
}

.order__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  color: #444444;
}

.order__wrapper {
  width: 260px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .order__wrapper {
    width: 668px;
  }

  .order__text {
    font-size: 17px;
  }

  .order__submit {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1150px) {
  .order__wrapper {
    width: 1050px;
  }
}
