.social {
  padding: 18px 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social__item {
  &--facebook {
    margin: 0 25px;
  }
}

.social__link {
  display: block;
  padding: 5px;

  &:hover {
    .social__icon {
      fill: rgba(70, 193, 174, 1);
    }
  }

  &:active {
    .social__icon {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}

.social__icon {
  fill: rgba(34, 31, 31, 1);
}

@media screen and (min-width: 768px) {
  .social {
    border-bottom: none;
    padding: 0;
    padding-left: 76px;
  }

  .social__item {
    &--facebook {
      margin: 0 31px;
    }
  }
}
